<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SalesforceSyncJobs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- login info -->
    <add key="username" value="sean.le@marcusmillichap.com" />
    <add key="password" value="DTzhKKr8" />
    <add key="token" value="AKEyvFGtUwEHzUGobQOG53PkT" />
    <!-- standard keys -->
    <add key="APIUserSalesforceID" value="005G0000002vHIZIA2" />
    <add key="MMStandardUserProfileID" value="00eG0000000KSHMIA4" />
    <add key="MNetDbaSalesForceID" value="005G00000026ofXIAQ" />
    <!-- Last Run Times -->
    <add key="lastMMUserSync" value="3/30/2018 8:29:00 AM" />
    <add key="lastMMAccountSync" value="3/30/2018 8:29:00 AM" />
    <add key="lastMMContactSync" value="3/30/2018 8:29:00 AM" />
    <add key="lastRunTimeActivity" value="3/19/2018 8:29:00 PM" />
    <add key="lastRunTimeProperty" value="3/30/2018 8:29:00 AM" />
    <add key="lastRunTimeCalls" value="3/19/2018 8:29:00 PM" />
    <add key="lastMPDSyncCall" value="3/19/2018 8:29:00 PM" />
    <!-- email settings -->
    <add key="ErrorEmailFrom" value="SalesForceAPI@marcusmillichap.com" />
    <add key="ErrorEmailTo" value="weboperations@marcusmillichap.com" />
    <add key="MailServer" value="MailRelay-PDX.marcusmillichap.com" />
    <!-- app keys -->
    <add key="MAX_NUMBER_UPDATE" value="200" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MMPeople" connectionString="Data Source=sql2;Database=mmpeople;User ID=webserverlogin;Password=iY1vQ3jHaE6wB9mC;Application Name=SalesforceSync" providerName="System.Data.SqlClient"/>
    <add name="MNet3" connectionString="server=sql2;database=mnet3;User ID=webserverlogin;Password=iY1vQ3jHaE6wB9mC;Application Name=SalesforceSync" providerName="System.Data.SqlClient" />
    <add name="MPD" connectionString="server=sql2;database=mpd;User ID=webserverlogin;Password=iY1vQ3jHaE6wB9mC;Application Name=SalesforceSync" providerName="System.Data.SqlClient" />
    <add name="GeoSearch" connectionString="server=sql2;database=GeoSearch;User ID=webserverlogin;Password=iY1vQ3jHaE6wB9mC;Application Name=SalesforceSync" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <SalesforceSyncJobs.Properties.Settings>
      <setting name="SalesforceSyncJobs_wsSalesforce_SforceService"
        serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/33.0/0DFG0000000D2Mj</value>
      </setting>
      <setting name="SalesforceSyncJobs_wsSalesforceAPEX_SObjectServiceService"
        serializeAs="String">
        <value>https://na11.salesforce.com/services/Soap/class/SObjectService</value>
      </setting>
    </SalesforceSyncJobs.Properties.Settings>
  </applicationSettings>
</configuration>